<style>
  .weather-icon {
    transform: scale(600%, 600%);
  }
  .weather-daily-icon {
    transform: scale(100%, 100%);
  }
  .left {
    float:left
  }
  .right {
    float:right
  }
</style>

{% assign time_format = timestamp | split: '.' %}
{% assign time_format2 = time_format[0] | split: 'T' %}

{% assign weather_icon = '' %}
{% for icon_pair in weather_icon_map %}
{% assign icon_data = icon_pair | split: ':' %}
{% if icon_data[0] == wc %}
{% assign weather_icon = icon_data[1] %}
{% break %}
{% endif %}
{% endfor %}
<div class="layout layout--col gap--space-between"> 
  <div class="grid grid---cols-7">    
    <div class="col col--span-2">
      {% for entity in entities %}
      {% if entity.t == 'w' %}
      <div class="item">
        <div class="content">
          <span class="label label--small">
            <span class="mdi mdi-{{ entity.dc }}"></span>
            {{ entity.n }}
          </span>
          <span class="value value--small sensor-value" data-value-fit="true">
            {%- if entity.v == "unavailable" -%}
            -
            {%- else -%}
            {{- entity.v-}}
            <span class="label">{{- entity.u -}}</span>
            {%- endif -%}
          </span>
        </div>
        <!-- ended content -->
      </div>
      <!-- ended item -->
      {% endif %}
      {% endfor %}
    </div>
    <!-- ended col -->

    <div class="col col--span-3">
      <div class="item">
        <span class="value value--large">
          <span class="weather-icon mdi {{ weather_icon }}"></span>
          <span class="value value--tnums">
            {{ time_format2[0] }}
          </span>
        </span>
      </div>
      <div class="border--h-6"></div>
      <div class="item">
        {% for entity in entities %}
        {% if entity.t == 'x' %}
        {% if entity.n == 'Battery' %}
        {% assign xsize = 'tnums' %}
        {% elsif entity.n == 'Luft' %}
        {% assign xsize = 'tnums' %}
        {% else %}
        {% assign xsize = 'xsmall' %}
        {% endif %}
        <div class="content">
          <span class="label label--small">
            <span class="mdi mdi-{{ entity.dc }}"></span>
            {{ entity.n }}
          </span>
          <span class="value value--{{ xsize }} sensor-value" data-value-fit="true">
            {%- if entity.val == "unavailable" -%}
            - 
            {%- else -%}
            {{- entity.v -}}
            <span class="label">{{- entity.u -}}</span>
            {%- endif -%}
          </span>
        </div>
        <!-- ended content -->
        {% if entity.dc == 'weather-sunset-down' %}
      </div>
      <div class="border--h-6"></div>
      <div class="item">
        {% endif  %}
        {% endif %}
        {% endfor %}
      </div>
      <!-- ended item -->
    </div>
    <!-- ended col -->

    <div class="col col--span-2">
      <div class="item">
        <div class="content">
          <span class="value value--tnums">
            {{ wl }} bei
          </span>
        </div>
      </div>
      <!-- ended item -->
      <div class="item"> 
        {% for entity in entities %}
        {% if entity.t == 'y' %}
        {% if entity.dc == 'tm' %}
        {% assign entity_icon = 'thermometer' %} 
        {% assign xsize = 'xlarge' %}
        {% else %}
        {% assign entity_icon = entity.dc %} 
        {% assign xsize = 'xsmall' %}
        {% endif %}
        {% assign entity_unit = '°C' %}
        {% if entity.u %}
        {% assign entity_unit = entity.u %}
        {% endif %}
        <div class="content">
          <span class="label label--small">
            <span class="mdi mdi-{{ entity_icon }}"></span>
            {{ entity.n }}
          </span>
          <span class="value value--{{ xsize }} sensor-value" data-value-fit="true">
            {%- if entity.val == "unavailable" -%}
            - 
            {%- else -%}
            {{- entity.v -}}
            <span class="label">{{- entity_unit -}}</span>
            {%- endif -%}
          </span>
        </div>
        <!-- ended content -->
        {% if entity.dc == 'tm' %}
      </div>
      <div class="item">

        <div class="content">
          <span class="label label--small">Mond</span>
          <span class="value mdi mdi-moon-{{ ms | replace: '_','-' }}"></span>
        </div>
        <!--      </div>
        <div class="border--h-6"></div>    
        <div class="item"> -->
        {% endif %}
        <!-- ended item -->
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- ended col -->

  </div>
  <!-- ended grid -->

  <div class="border--h-6 w--full"></div>

  <div class="grid grid--cols-6 gap--xsmall">
    {% for entity in entities %}
    {% if entity.t == 'r' %}
    {% if entity.dc == 'tm' %}
    {% assign entity_icon = 'mdi-thermometer' %}
    {% else %}
    {% assign entity_icon = 'mdi-water-percent' %}
    {% endif %}
    <div class="item pb--8">
      <div class="content">
        <span class="label">
          <span class="mdi {{ entity_icon }}"></span>
          {{ entity.n }}
        </span>
        <span class="value value--tnums sensor-value" data-value-fit="true">
          {%- if entity.v == "unavailable" -%}
          -
          {%- else -%}
          {{- entity.v -}}
          <span class="label">{{- entity.u -}}</span>
          {%- endif -%}
        </span>
      </div>
      <!-- ended content -->
    </div>
    <!-- ended item -->
    {% endif %}
    {% endfor %}
  </div>
  <!-- ended rooms grid -->

  <div class="border--h-6 w--full"></div> 

  <div class="grid grid--cols-8">
    {% for entity in entities %}
    {% if entity.t == 'f' %}
    {% assign entity_icon = 'mdi-weather-cloudy' %}
    {% for icon_pair in weather_icon_map %}
    {% assign icon_data = icon_pair | split: ':' %}
    {% if icon_data[0] == entity.val %}
    {% assign entity_icon = icon_data[1] %}
    {% break %}
    {% endif %}
    {% endfor %}

    <div class="col col--span-1">
      <span class="label">
        <span class="weather-daily-icon mdi {{ entity_icon }}"></span>
        {{entity.n}}
      </span>
      <span class="value value--small" data-value-fit="true">
        {{ entity.th }}{{ entity.u }}
      </span>
      ({{ entity.tl }}{{ entity.u }})
      {{ entity.hum }}%
    </div>
    <!-- ended col -->
    {% endif %}
    {% endfor %}
  </div>
  <!-- ended forecast grid -->


  <div class="title_bar" style="width: 760px">
    <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
    <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
    <span class="instance">
      Stein {{ time_format2[0] }} {{ time_format2[1] }}
    </span>
  </div>

</div>
<!-- ended layout -->


